
@use '@/assets/scss/tailwind.scss';
@use '@/assets/scss/preflight.scss';


/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.n-scrollbar > .n-scrollbar-rail.n-scrollbar-rail--vertical,
.n-scrollbar + .n-scrollbar-rail.n-scrollbar-rail--vertical {
  right: 0;
}

.n-data-table-thead .n-data-table-tr:hover {
  background: none !important;
}

.n-radio .n-radio__dot::before {
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
}

.n-radio .n-radio__dot.n-radio__dot--checked::before {
  transform: scale(1) translate(-50%, -50%);
}

.link {
  @apply text-primary underline decoration-primary underline-offset-4 hover:decoration-primary-100 cursor-pointer;
}

.n-date-panel {
  @apply block md:grid
}

.n-notification-container .n-notification .n-notification-main {
  @apply ml-0 w-full;
}
